@model List<TechJobsPersistent.Models.Employer>

@if (Model.Count == 0)
{
    <h1>No information regarding selected employer(s)!</h1>
}
else
{
    <h1>Information about: @Model[0].Name</h1>
    <ul>
        @foreach (var employerinfo in Model)
        {
            <li>@employerinfo.Name</li>
            <li>@employerinfo.Location</li>
        }
    </ul>
}


<!--
<h1>Employer: Name</h1>

<div>
    <p>Name: name</p>
    <p>Location: location</p>
</div>
    -->
